.favorite-card {
  box-sizing: border-box;
  margin: 1em;
  margin-bottom: 2em;
}

.favorite-name {
  font-size: 2em;
  color: goldenrod;
  text-shadow: black 1px 1px
}

.favorite-description {
  font-size: 1em;
  color: gold;
}
/*  */
